{{template "base/base.html" .}}
{{define "head"}}
<title>MyBlog</title>
{{end}}
{{define "body"}}
<body class="sub-page">	
	{{template "base/nav.html" .}}
	{{template "base/background.html" .}}
	{{template "base/welcome.html" .}}
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<div id="page-content">
		<section class="box-content box-1">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						{{range .List1}}
						{{template "base/item.html" .}}
						{{end}}
					</div>
					<div class="col-md-4">
						{{range .List2}}
						{{template "base/item.html" .}}
						{{end}}
					</div>
					<div class="col-md-4">
						{{range .List3}}
						{{template "base/item.html" .}}
						{{end}}
					</div>
				</div>
				<ul class="pagination">
					<li><a href="#">&laquo;</a></li>
					{{range .Pages}}
					<li class="current">{{.}}</li>
					{{end}}
					<li><a href="#">&raquo;</a></li>
				</ul>
			</div>
		</section>
		</div>
	</div>
<script>
function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
    if (r != null) return unescape(r[2]); return null; //返回参数值
}
$(document).ready(function(){
	var page = getUrlParam("page");
  	$(".current").each(function(){
		if($(this).text()==page){
			$(this).addClass("active");
		}
		if(page==null){
			if($(this).text()=="1"){
				$(this).addClass("active");
			}
		}
	});
});
</script>
{{end}}