{{template "base/base.html" .}}
{{define "head"}}
<title>MyBlog</title>
{{end}}
{{define "body"}}
 <body class="index-page">
	{{template "base/nav.html" .}}
	<!-- CAROUSEL -->
	<div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel" data-interval="4000">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			{{range .Banners}}
				<div class="item" id="banner{{.Id}}">
					<img src="{{.Imgurl}}" alt="...">
					<!-- Static Header -->
					<div class="container">
						<div class="header-text hidden-xs">
							<div class="col-md-12 text-center">
								<h1>{{.Title}}</h1>
								<hr>
								<p>{{.Subtitle}}</p>
								<a href="{{.Url}}" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
							</div>
						</div><!-- /header-text -->
					</div>
				</div>
			{{end}}	
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div> <!-- Carousel -->
	{{template "base/welcome.html" .}}
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						{{range .List1}}
						{{template "base/item.html" .}}
						{{end}}
					</div>
					<div class="col-md-4">
						{{range .List2}}
						{{template "base/item.html" .}}
						{{end}}
					</div>
					<div class="col-md-4">
						{{range .List3}}
						{{template "base/item.html" .}}
						{{end}}
					</div>
				</div>
			</div>
		</section>
	</div>
<script>
	$("#banner1").addClass("active");
</script>
{{end}}