{{template "base/base.html" .}}
{{define "head"}}
<title>MyBlog</title>
{{end}}
{{define "body"}}
<body class="sub-page">	
    {{template "base/nav.html" .}}
    {{template "base/background.html" .}}
    {{template "base/welcome.html" .}}
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<img src="{{ .Blog.Imgurl }}" />
						<div class="art-content">
							<h1>{{ .Blog.Title }}</h1>
							<div class="info">By <a href="#">{{ if .Blog.Auth }} {{.Blog.Auth}} {{else}} Unknown {{end}}</a> on {{ .Blog.Createtime }}</div>
							<div class="excerpt">
							{{str2html .Blog.Content }}
							</div>
						</div>
					</article>
					<div class="widget wid-related">
						<div class="heading"><h4>Related Post</h4></div>
						<div class="content">
							<div class="row">
								{{range .Related}}
									<div class="col-md-4">
										<div class="wrap-col">
											<a href="#"><img src="{{.Imgurl}}" /></a>
											<h4><a href="/single?id={{.Id}}">{{.Title}}</a></h4>
										</div>
									</div>
								{{end}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}