{{template "backstage/backstagebase.html" .}}
{{define "bread"}}
	<div class="row">
		<div class="col-lg-12">
			<ol style="background-color: #dcdcdc" class="breadcrumb">
				<li><i class="fa fa-home"></i><a href="index.html">HOME</a></li>
				<li><i class="fa fa-bars"></i>BLOG</li>
				<li><i class="fa fa-reorder"></i>ADD</li>
			</ol>
		</div>
	</div>
{{end}}
{{define "body"}}
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<div class="art-content">
							<div class="row">
								<div class="col-md-8">
									{{if .blog}}
									<h3 style="text-align: center">View&<a id="edit" style="color:black">Edit</a>  Article</h3>
									{{else}}
									<h3 style="text-align: center">Add Article</h3>
									{{end}}
									{{if .flag}}
									<a style="display: none" id="flag">{{.flag}}</a>
									{{end}}
									{{if .flash.error}}
						   				<h5 class="error">提示:{{.flash.error}}</h5>
						    		{{end}}
									{{if .blog}}
									<form name="form1" id="form1" method="post" action="/updateArticle" enctype="multipart/form-data">
									{{else}}
									<form name="form1" id="form1" method="post" action="/addArticle" enctype="multipart/form-data">
									{{end}}
									<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													{{if .blog}}
													<input type="text" class="form-control input-lg" name="title" id="title" placeholder="Title" value="{{.blog.Title}}" required="required" />
													{{else}}
													<input type="text" class="form-control input-lg" name="title" id="title" placeholder="Title" required="required" />
													{{end}}
												</div>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
									<div class="form-group">
													{{if .blog}}
													<input type="text" class="form-control input-lg" name="auth" id="auth" placeholder="Author" value="{{.blog.Auth}}" required="required" />
													{{else}}
													<input type="text" class="form-control input-lg" name="auth" id="auth" placeholder="Author" required="required" />
													{{end}}
												</div>
										</div>
									</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													{{if .blog}}
													<input type="text" class="form-control input-lg" name="keyword" id="keyword" placeholder="Keyword" value="{{.blog.Keywords}}" required="required" />
													<input type="text" class="form-control input-lg" name="id" id="id" style="display:none" value="{{.blog.Id}}" />
													{{else}}
													<input type="text" class="form-control input-lg" name="keyword" id="keyword" placeholder="Keyword" required="required" />
													{{end}}
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													{{if .blog}}
													<input type="text" class="form-control input-lg" name="subject" id="subject" placeholder="Subject" value="{{.blog.Subject}}" required="required" />
													{{else}}
													<input type="text" class="form-control input-lg" name="subject" id="subject" placeholder="Subject" required="required" />
													{{end}}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													{{if .blog}}
														<a id="catalogid" style="display:none">{{.blog.Catalogid}}</a>
													{{end}}
													<select class="form-control input-lg" id="catalogid" name="catalogid">
													  <option value="work">work</option>
													  <option value="life">life</option>
													  <option value="technique">technique</option>
													  <option value="article">article</option>
													</select>
												</div>
											</div>
											<div class="col-md-4">
												{{if .blog}}
													<a id="type" style="display:none">{{.blog.Type}}</a>
												{{end}}
												<select class="form-control input-lg" id="type" name="type">
												  <option value="original">original</option>
												  <option value="reproduction">reproduction</option>
												</select>
											</div>
											<div class="col-md-4">
												{{if .blog}}
													<a id="status" style="display:none">{{.blog.Status}}</a>
												{{end}}
												<select class="form-control input-lg" id="status" name="status">
												  <option value="public">public</option>
												  <option value="protected">protected</option>
												  <option value="private">private</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													{{if .blog}}
													<a id="imgurl" style="display:none">{{.blog.Imgurl}}</a>
													{{end}}
												    <input id="file-0a" placeholder="Images" name="images" class="file" type="file"  multiple data-max-file-count="1">
												</div>		
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
												{{if .blog}}
													<textarea name="introduction" id="introduction" class="form-control" rows="4" cols="25" required="required"
													placeholder="Introduction" style="height: 90px;">{{.blog.Introduction}}</textarea>
												{{else}}
												<textarea name="introduction" id="introduction" class="form-control" rows="4" cols="25" required="required"
													placeholder="Introduction" style="height: 90px;"></textarea>
												{{end}}	
												</div>	
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<div id="txtdiv" style="height:300px;">
													</div>
													{{if .blog}}
													<textarea name="content" id="content" style="display:none" >{{.blog.Content}}</textarea>
													{{else}}
													<textarea name="content" id="content" style="display:none" ></textarea>
													{{end}}
												</div>						
												<button type="submit" class="btn btn-primary" name="submitcontact" id="submitcontact" style="width:100%">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
<script>

    $(function(){
        //初始化编辑器
        editor = new wangEditor("txtdiv");
        editor.create();
        var text = $("#content").text();
		editor.$txt.html(text)
		var flag=$("#flag").text();
		if(flag=="1"){
			editor.disable();
		}
        //内容修改事件，此处做的是实时展示实际效果
        editor.onchange = function(){
            //获取editor的html值
            var html = editor.$txt.html();
			$("#content").text(html)
        }
    })

function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
    if (r != null) return unescape(r[2]); return null; //返回参数值
}
	$("#file-0a").fileinput({
		showUpload: false,
		allowedFileExtensions : ['jpg', 'png','gif'],
		initialPreviewAsData: true,  
        initialPreviewFileType: 'image',  
		initialPreview: $("#imgurl").text(),
	});
$(document).ready(function(){
	$("#catalogid option").each(function(){
		<!--console.log($("#catalogid").text(),$(this).text());-->
		if($(this).text()== $("#catalogid").text()){
			$(this).attr("selected",true);
		}
	});
	$("#type option").each(function(){
<!--		console.log($("#catalogid").text(),$(this).text());-->
		if($(this).text()== $("#type").text()){
			$(this).attr("selected",true);
		}
	});
	$("#status option").each(function(){
<!--		console.log($("#status").text(),$(this).text());-->
		if($(this).text()== $("#status").text()){
			$(this).attr("selected",true);
		}
	});
	var flag=$("#flag").text();
	var id = $("#id").attr("value")
	console.log(flag);
	if(flag=="1"){
		$("button,option,input,select,textarea,input,span").attr("disabled","disabled");
		$("#edit").attr("style","color:blue;text-decoration:underline");
		$("#edit").attr("href","/updateArticle?id="+id);
	}
});
</script>
{{end}}
