{{template "backstage/backstagebase.html" .}}
{{define "bread"}}
	<div class="row">
		<div class="col-lg-12">
			<ol style="background-color: #dcdcdc" class="breadcrumb">
				<li>I</li>
				<li>LOVE</li>
				<li>YOU</li>
			</ol>
		</div>
	</div>
{{end}}
{{define "body"}}
<script id='vShader' type='x-vertex/x-shader'>
  uniform float size;
  uniform float t;
  uniform float z;
  uniform float pixelRatio;
  
  varying vec3 vPosition;
  varying vec3 mPosition;//modified position
  varying float gas;
  
  float a,b=0.;
  
  void main(){
  
    vPosition=position;
    
    a=length(position);
    if(t>0.)b=max(0.,(cos(a/20.-t*.02)-.99)*3./a);
    if(z>0.)b=max(0.,cos(a/40.-z*.01+2.));
    mPosition=position*(1.+b*4.);
    vec4 mvPosition=modelViewMatrix*vec4(mPosition,1.);
    gl_Position=mvPosition*projectionMatrix;
    
    gas=max(.0,sin(-a/20.));
    gl_PointSize=pixelRatio*size*(1.+gas*2.)/length(mvPosition.xyz);
  
  }
		</script>
		<script id='fShader' type='x-fragment/x-shader'>
  uniform float z;
      
  varying vec3 vPosition;
  varying vec3 mPosition;
  varying float gas;
      
  void main(){
    
    float a=distance(mPosition,vPosition);
    if(a>0.)a=1.;
    
    float b=max(.32,.0065*length(vPosition));
      
    float c=distance(gl_PointCoord,vec2(.5));
    float starlook=-(c-.5)*1.2*gas; 
    float gaslook=(1.-gas)/(c*10.);
    float texture=starlook+gaslook;
               
    gl_FragColor=vec4(.32,.28,b,1.)*texture*(1.-a*.35);
    if(z>0.)gl_FragColor*=cos(1.57*z/322.)*(1.-.001*length(mPosition));
      
  }
		</script>
      


<button  style='position:absolute;width:100%;text-align:center;border-radius:5px;right:10px;font-family:Arial;color:#33c;outline:none;background:none;border:none;text-decoration:underline;font-size:16px;cursor:pointer;'></button>
<h1 style="color:red;display:none;text-align:center">I LOVE YOU KXZ</h1>
<div style="text-align:center;clear:both">
</div>

<!-- webglstats.com-->
	<script src="static/home/js/stat.js" defer="defer" async="async"></script>
    <script src='static/home/js/three.min.js'></script>
	<script src='static/home/js/TweenMax.min.js'></script>
    <script  src="static/home/js/index.js"></script>
	<script>
		$(document).ready(function () {
 			$("body").css("background-color","#000");
		});
	</script>


{{end}}