<footer>
		<div class="wrap-footer">
			<div class="container" style="padding-left:0%;text-align:center">
				<span>Created By YanFeilong.</span><br>
				<span>You Can View the Code on My <a style="color:blue" href="https://github.com/Winteryan/MyBlog">GitHub</a>.</span>
			</div>
		</div>
	</footer>
  
	<!-- jQuery -->
	<script type="text/javascript" src="./static/js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="./static/js/bootstrap.min.js"></script>
	
	<!-- Custom Theme JavaScript -->
	<script src="./static/js/agency.js"></script>

	<!-- Plugin JavaScript -->
	<script src="./static/js/jquery.easing.min.js"></script>
	<script src="./static/js/classie.js"></script>
	<script src="./static/js/cbpAnimatedHeader.js"></script>
	</body>